body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;
}

.primary-btn a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}




/* header patr style */

header {
    background: rgba(229, 84, 115, 0.10);
    padding: 10px 240px 150px 240px;
    background-image: url('../images/pngwing\ 10.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-top: 190px;
    width: 800px;
}

.primary-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    text-align: left;
    padding-bottom: 15px;

}

/* flowers style */
.flowers {
    align-items: center;
}

.flowers-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.flowers-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.bonnes {
    display: flex;
    gap: 20px;
    margin: 0 240px;
}

.img-1 {
    width: 464px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-image: url('../images/pngwing\ 6.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.img-2 {
    width: 464px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-image: url('../images/pngwing\ 5.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.img-3 {
    width: 464px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    background-image: url('../images/pngwing\ 7.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

/* hot dale style */
.hot-deal{
    background: rgba(229, 84, 115, 0.05);
}

.img {
    background-image: url('../images/pngwing\ 8.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 80%;

}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 230px 0 0 423px;
}

span {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}


.hot-deal-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 0 24px 390px;
    width: 594px;
}

.hot-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;
    margin: 0 0 158px 646px;
}

.hot-btn a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
/* instagram style */
.instagram-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;

}
.instagram-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.insta-imag{
    margin: 48px 100px 128px 100px;
}
img{
    margin-left: 20px;
    
}
/* input sstyle */
.input{
    margin: 128px 240px;
}
.input-img{
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
}
.deals-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;

}
.deals-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}
.email-tex{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 23px 516px 22px 22px;
    border: 0;
    background: #FFF;
    margin: 48px 16px 121px 300px;
    border-radius: 8px;
}
/* flower style */
.flower{
    background: #111010;
    
}
.flower-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
.shop{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}
.flowerp{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.flower-p{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}
